body {
  background-image: url('../images/grain.jpg');
}

#body-content, #footer-nav{
  visibility: hidden;
}

a {
  text-decoration: none;
  color: #565656;
}

a:hover {
  text-decoration: none;
  color: #888888;
}

#body-content p {
  line-height: 1.5rem;
}

#photo img{
  width: 100%;
}

#photo-cred {
  padding-top: 3px;
  font-size: 10px;
  margin: 0;
  color: #565656;
}

.big {
  font-size: 12px;
}

.small {
  font-size: 10px;
}

.container {
  margin: auto;
  max-width: 3000px;
}

@media screen and (max-width: 767px) {
  #photo {
    margin-top: 2%;
  }


}

@media screen and (min-width: 1300px) {
  #photo-cred {
    font-size: 12px;
  }

  .big {
    font-size: 14px;
  }

  .small {
    font-size: 12px;
  }
}

@media screen and (min-width: 2000px) {
  #body-content p {
    line-height: 3rem;
  }

  #photo-cred {
    font-size: 1.5rem;
  }

  .big {
    font-size: 2rem;
  }

  .small {
    font-size: 1.5rem;
  }
}
