.row {
  margin: 0;
}

html {
  /* background-color: #fffcfb; */
  background-color: peachpuff;
  display: flex;
  justify-content: center;
}

body {
  /* width: 70%; */
  /* width: 80%; */
  width: 100%;
  background-color: #fffcfb;
  /* background-color: rgba(255,255,255, .7); */
  font-family: 'Cormorant', serif;
  /* font-weight: bolder; */
}

#body-content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

#header-title {
  /* width: 60%; */
  /* width: 80%; */
  width: 56%;
  /* margin: 3% 0; */
  margin: 2%;
}

.apple-bite {
  display: none;
}

nav {
  width: 70%;
  margin: auto;
  /* padding: 0 10%; */
  padding: 0 !important;
}

#navbarNavAltMarkup {
  justify-content: center;
  /* background-color: peachpuff; */
}

.nav-link {
  /* color: rgba(0, 0, 0, 0.7) !important; */
  padding-left: .7rem !important;
  padding-right: .7rem !important;
}

#apple {
  width: 10%;
  height: auto;
  margin-top: -7%;
  /* margin-left: 5%; */
}

#cover-row {
  justify-content: center;
  /* margin-top: 5%; */
}

#cover-photo {
  width: 30%;
  height: auto;
}

#footer-nav {
  /* width: 100%; */
  /* margin: 0; */
}

#footer-nav .row {
  width: 100%;
  justify-content: space-between;
}

#credits {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 !important;
}

/*_________________SOCIAL-ICONS_________________*/


.social-row {
    /* margin-top: 20px; */
		margin-top: -5px;
    /* margin-left: -13px; */
    padding: 0;
    font-size: 15px;
		text-align: right;
}

.social-row ul {
    margin: 0;
    padding: .520833%;
		margin-right: -10px;
}

.social-row ul li {
    list-style: none outside none;
    display: inline-block;
    /*margin: 0 2px 0 2px;*/
    margin: 0 2px;
}

.fa-stack {
	color: white;
	/*border: 2px solid #909AA0;*/
	/*border-radius: 50%;*/
	transition: all ease 0.3s;
  width: 1.5em;
}

.fa-stack-1x {
	color: #3a4b59;
	transition: all ease 0.3s;
	width: 28px;
	height: 28px;
}

.fa-stack:hover {
/*	background-color: black;
	border-color: black;*/
	transition: all ease 0.3s;
}

.fa-stack-1x:hover {
	/*color: white;*/
	/* color: black; */
  color: #909AA0;
	transition: all ease 0.3s;
}
