.row {
  margin: 0;
}

html {
  /* background-color: #fffcfb; */
  background-color: peachpuff;
  display: flex;
  justify-content: center;
}

body {
  /* width: 70%; */
  /* width: 80%; */
  background-color: #fffcfb;
  /* background-color: rgba(255,255,255, .7); */
  font-family: 'Cormorant', serif;
  /* font-weight: bolder; */
}

#title-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

#header-title {
  /* width: 60%; */
  /* width: 80%; */
  width: 56%;
  /* margin: 3% 0; */
  margin: 2%;
}

.apple-bite {
  display: none;
}

nav {
  width: 70%;
  margin: auto;
  padding: 0 10%;
}

#navbarNavAltMarkup {
  justify-content: center;
  background-color: peachpuff;
}

.nav-link {
  /* color: rgba(0, 0, 0, 0.7) !important; */
  padding-left: .7rem !important;
  padding-right: .7rem !important;
}

#apple {
  width: 10%;
  height: auto;
  margin-top: -7%;
  /* margin-left: 5%; */
}

#cover-row {
  justify-content: center;
  margin-top: 5%;
}

#cover-photo {
  width: 30%;
  height: auto;
}
